This site is under development. Feel free to explore the features available.
<br>

This work is an assessment and a project for my practice and demonstration of my learning through course.
<br>
Things implemented:
<ul>
  <li>basic setup for different component</li>
  <li>nav-bar</li>
  <br>
  <b>Authentication and Authorization with Firebase</b>
  <li>Implementing Google Login</li>
  <li>Implementing Logout</li>
  <li>navigation using routes</li>
  <li>route protection from not logged in users</li>
  <li>route protection for admin routes</li>
  <li>route redirection to login page if user try to access protected routes without login. redirect to the same page after successful login</li>
  <br><b>Next is Product Management Module</b>
  <li>Angular form for a new object (admin only)</li>
  <li>Readin Data from firebase database for categories of objects</li>

</ul>